/** Add css rules here for your application. */


.mainpanel {
    margin-right: auto;
    margin-left: auto;
    width:80%;
    height:580px;
    margin-top:  75px;
    margin-bottom: 75px;
}

.shadowedbox{
	border: solid 0.2px;
	border-color: grey;
	box-shadow: 2px 2px 2px 2px  #888888;
}

.mainbackground{
  background-image: url('images/page_t.jpg');
  background-repeat: repeat;
  background-attachment: scroll;
  
}

.welcomelogin{
	width:650px;
	height:400px;
	margin-left: auto;
    margin-right: auto;
    margin-top:  10%;
}

.searchicone{
 	background-image: url('images/search.png');
  	background-repeat: no-repeat;
  	background-position: right center;
}
.designemenuicone{
 	background-image: url('images/design.png');
  	background-repeat: no-repeat;
 	width:18px;
 	height:18px;
 	display:inline;
 	position: absolute;
}

.zindex1000{
	z-index:1000;
}

.topbar{
    width: 80%;
    height: 50px;
    margin-left: -40%;
    top: 2px;
    position: fixed;
    left: 50%;
    background-color:  #EFEFEF;
    z-index:500;
}
.patientlistul{
	text-indent: 5px;
	list-style-type: none;
	padding: 0px;
	margin:0px;
	
}
.patientlistil{
	height:50px;
	border-bottom:solid 1px grey;
	line-height:40px;
}
.patientlistil:hover{ 
	background-color:#CCFFFF;
	height:50px;
	border-bottom:solid 1px grey;
	line-height:40px;
}

.bottombar{
    position:fixed;
    bottom: 4px;
    width: 80%;
    height: 50px;
    margin-left: -40%;
    left: 50%;
    background-color: #EFEFEF;
    z-index:500;
}


.headerContent{
     background-image: url('images/kamit.png');
     background-repeat: no-repeat;
     background-color: white;
     
     height:100px;
     border-style:solid;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomleft: 8px;
     border-top-right-radius: 8px;
     border-bottom-left-radius: 8px;
     
}
.kamitBox{
     border-style:solid gray;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomleft: 8px;
     border-top-right-radius: 8px;
     border-bottom-left-radius: 8px;
     box-shadow: 2px 2px 2px 2px  #888888;
}
.background-lightgrey {
    background-color: #F0F0F0;
}

.background-argile{
	background-color: #EFEFEF;
}

.background-albatre{
	background-color: #FBFCFA;
}

.padding-top-0px {
    padding-top: 0px;
}

.padding-top-5px {
    padding-top: 5px;
}

.padding-top-10px {
    padding-top: 10px;
}

.padding-top-15px {
    padding-top: 15px;
}

.padding-top-20px {
    padding-top: 20px;
}

.padding-bottom-5px {
    padding-bottom: 5px;
}

.padding-bottom-10px {
    padding-bottom: 10px;
}

.padding-bottom-15px {
    padding-bottom: 15px;
}

.padding-bottom-20px {
    padding-bottom: 20px;
}

.padding-left-5px {
    padding-left: 5px;
}

.padding-left-10px {
    padding-left: 10px;
}

.padding-left-15px {
    padding-left: 15px;
}

.padding-left-20px {
    padding-left: 20px;
}

.padding-left-30px {
    padding-left: 30px;
}

.padding-left-40px {
    padding-left: 40px;
}

.padding-left-100px {
    padding-left: 100px;
}

.padding-right-5px {
    padding-right: 5px;
}

.padding-right-10px {
    padding-right: 10px;
}

.padding-right-15px {
    padding-right: 15px;
}
.padding-right-20px {
    padding-right: 20px;
}

.margin-left-5px {
    margin-left: 5px;
}

.margin-left-10px {
    margin-left: 10px;
}

.margin-left-15px {
    margin-left: 15px;
}

.margin-left-20px {
    margin-left: 20px;
}

.margin-left-40px {
    margin-left: 40px;
}

.margin-left-50px {
    margin-left: 50px;
}

.margin-left-51px {
    margin-left: 51px;
}
.margin-left-100px {
    margin-left: 100px;
}
.margin-right-5px {
    margin-right: 5px;
}

.margin-right-10px {
    margin-right: 10px;
}

.margin-right-15px {
    margin-right: 15px;
}

.margin-right-20px {
    margin-right: 20px;
}
.margin-right-100px {
    margin-right: 100px;
}

.margin-top-0px {
    margin-top: 0px;
}

.margin-top-5px {
    margin-top: 5px;
}
.margin-top-10px {
    margin-top: 10px;
}

.displayinline {
    display:inline;
}

.alignleft {
    position:absolute;
    left:l0px;
}

.alignright {
    position:absolute;
    right:0px;
}
.displaybloc {
    display:bloc;
}
.width-10px{
    width:10px
}
.width-20px{
    width:20px
}
.width-30px{
    width:30px
}
.width-40px{
    width:40px
}
.width-50px{
    width:50px
}
.width-60px{
    width:60px
}
.width-70px{
    width:70px
}
.width-80px{
    width:80px
}
.width-90px{
    width:90px
}
.width-100px{
    width:100px
}
.width-110px{
    width:110px
}
.width-120px{
    width:120px
}
.width-130px{
    width:130px
}

.width-205px {
    width: 205px;
}
.width-200px{
    width:200px
}
.width-250px{
    width:250px
}

.width-300px{
    width:300px
}

.width-350px{
    width:350px
}

.width-400px{
    width:400px
}

.width-600px{
    width:600px
}

.height-10px{
    height:10px
}
.height-20px{
    height:20px
}
.height-30px{
    height:30px
}
.height-40px{
    height:40px
}
.height-50px{
    height:50px
}
.height-60px{
    height:60px
}
.height-70px{
    height:70px
}
.height-80px{
    height:80px
}
.height-90px{
    height:90px
}
.height-100px{
    height:100px
}

.height-105px {
    height: 105px;
}

.height-110px{
    height:110px
}
.height-120px{
    height:120px
}
.height-200px{
    height:200px
}

.height-250px{
    height:250px
}

.height-300px{
    height:300px
}

.heigt-580px{
	height:580px
}
.margintop5px{
	margin-top:5px;
	
}
.margintop10px{
	margin-top:10px;
	
}

.margintop20px{
	margin-top:20px;
	
}
.margintop40px{
	margin-top:40px;
}
.marginleft5px{
	margin-left:5px;
	
}
.marginleft10px{
	margin-left:10px;
}

.marginleft50px{
	margin-left:50px;
}

.marginright20px{
	margin-right:20px;
}


.paddingleft5px{
	padding-left:5px;
}

.paddingleft20px{
	padding-left:20px;
}

.width35pc{
	width:35%;
}
.width50pc{
	width:50%;
}
.width60pc{
	width:60%;
}

.width70pc{
	width:70%;
}


.centerHorizontal{
    margin-left: auto;
    margin-right: auto; 
}

.sideCarousel {
    z-index: 0;
    box-shadow: 2px 2px 2px 2px  #888888;
    
}

.centerCarousel {
    z-index: 1;
    box-shadow: 2px 2px 2px 2px  #888888;
 
}

.roundedborder10px {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.roundedborder2px {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.noShadows {
 	border :solid 1px grey;
 	
}
.floatleft{
	float: left;
}

.floatright{
	float: right;
}

.textalignleft{
	text-align: left;
}

.textalignright{
	text-align: right;
}

.textorange{
	color:orange;
}
/** Most GWT widgets already have a style name defined */
/** Set ids using widget.getElement().setId("idOfElement") */

